include ../variable/variable

include ../head/head
include ../scripts/scripts

include ../foot/foot

include ../main-screen/main-screen
include ../main-screen-home/main-screen-home

include ../slider-buttons/slider-buttons