mixin scripts
    script(src='js/mylib.js')
    script(src='js/BigSlider.js')
    script(src='js/sliderButtons.js')
    script(src='js/sliderImages.js')
    script(src='js/sliderText.js')
    script(src='js/main-screen-home.js')